{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse - Product Amp{% endblock %}

{% block content %}
    
    <br/>
    <h1 class="text-center">Ajouter une adresse </h1>
    <br/>
    
            <a href="{{path('account')}}" class="btn item-box-btn btn-black display-4 btn-sm ">Retourner à mon compte</a>
        
<hr>
    Formulaire
{% endblock %}