{% extends 'base.html.twig' %}

{% block title %}Mon compte - Bonbons Chocolat Biscuits{% endblock %}

{% block content %}
    <br/>
    <h1>Mon compte </h1>
    <br/>
    Bienvenue {{app.user.prenom}} {{app.user.nom}} dans votre compte.<br/>
    <br>
    C'est dans cet espace que vous allez pouvoir gérer vos données personnelles.
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a href="{{path('account_password')}}"> Modifier Mot de passe</a><br/>
        </div>
    <br/>
    
        <div class="col-md-4">
            -Ajouter Mes adresses<br/>
        </div>
    <br/>
        <div class="col-md-4">
            -Mes commandes<br/>
        </div>
    </div>
    <br/>
    <hr>
{% endblock %}

