{% extends 'base.html.twig' %}

{% block title %}Articles pour femme - ProductAMP{% endblock %}

{% block content %}
<br/>
<h1 class="text-center">Femme</h1>
<br/>
    <div class="row">
    {% for product in products %}
            <div class="col-md-4">
            
                                    <amp-img src="assets/images/01.jpg" layout="responsive" width="598.404255319149" height="500" alt="image" class="placeholder-loader">
                                        <div placeholder="" class="placeholder">                                        
                                    </amp-img>
                                </div>
        <img src="/uploads/{{product.illustration}}" alt="" class="img-fluid">
        <h4 class="item-box-title item-box-title1 mbr-bold mbr-fonts-style mbr-pb-1 display-4">
                                            {{product.name}}</h4>
        <div class="item-box-body">
            <p class="item-box-text item-box-text1 mbr-fonts-style mbr-pb-4 display-7">
                 {{product.description}} 
            </p>
        </div>
        <div class="currency mbr-pb-1">
            <span class="cur cur1 mbr-fonts-style display-7">€</span>
            <span class="item-box-price item-box-price1 mbr-fonts-style display-7">{{product.price}}</span>
        </div>
        
        
            <div class="item-box-footer"><a href="" class="btn item-box-btn btn-black display-4" target="_blank"><span>Au Panier</span></a>
        </div>
            </div>
    {% endfor %}
        </div>
    
    



{% endblock %}
