{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue sur Product Amp Admin' %}

{% block page_content %}
<a href={{path('home')}} class="float-right btn btn-success">Voir le site</a><br/>
    <br/>
    <div class="row">
        <div class="col-6 bg-info">
            <h4 class="text-center">105 Utilisateurs</h4>
            <b class="text-center">Les pages consultées par les utilisateurs</b>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Rang</th>
      <th scope="col">Nom de page</th>
      <th scope="col">nombre de vues</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>
        </div>
        <div class="col-6 bg-success">
            <h4 class="text-center">64 Commandes</h4>
            <b class="text-center">Les articles les plus commandés</b>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Rang</th>
      <th scope="col">Category</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
   
  </tbody>
</table>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="row">
        <div class="col-6 bg-info">
            <b class="text-center">Provenance des utilisateurs</b>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Rang</th>
      <th scope="col">Continent</th>
      <th scope="col">Pays</th>
      <th scope="col">Ville</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>
        </div>
        <div class="col-6 bg-success">
            <b>Le panier moyen</b>
        </div>
    </div>

    
    
{% endblock %}
