{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Productamp{% endblock %}

{% block content %}
    <h3>Je passe ma commande</h3>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Choisir mon adresse de livraison</b><br/>
                {{form(form)}}
            <b>choisir mon transporteur</b>
        </div>
        <div class="col-md-6">
            <b>Récapitulatif de ma commande</b><br/>
            <b>bouton pour payer</b>
        </div>        
{% endblock %}
